.banner1 {
	position: relative;
	background: url(../img/banner1.jpg) center top no-repeat;
	min-width: 1200px;
	height: 402px;
}

.w206 {
	width: 206px;
	height: 234px;
	margin-top: 20px;
}

.main-content {
	width: 1200px;
	margin: 0 auto;
	height: 910px;
}

.feiyi {
	border: 1px solid #f3f3f3;
	background: #ffffff;
	font-size: 14px;
	width: 206px;
	height: 255px;
	float: left;
}

.feiyi span {
	float: left;
	color: #da6a06;
}

.feiyi .bg-red {
	float: left;
	text-align: center;
	padding: 13px 0;
	width: 170px;
	margin-left: 16px;
	border-bottom: 1px solid #f3f3f3;
	font-size: 18px;
	color: #636363;
}

.feiyi a {
	float: left;
	text-align: center;
	padding: 13px 0;
	width: 170px;
	margin-left: 16px;
	border-bottom: 1px solid #f3f3f3;
	font-size: 18px;
	color: #636363;
	padding-right: 19px;
}

.feiyi .bg-red {
	background: #931f08;
	height: 46px;
	width: 204px;
	margin: 0;
	color: #FFFFFF;
}

.center-right {
	width: 971px;
	margin-top: 20px;
}

.center-header {
	height: 48px;
	background: #f3f3f3;
	margin-bottom: 20px;
}

.center-header a {
	font-size: 16px;
	color: #921e07;
	line-height: 48px;
}

.center-header .jieshao {
	margin-left: 23px;
}

.center-header .zi {
	color: #da6a06;
}

.main div {
	padding: 25px 0;
	position: relative;
	margin-top: 1px;
}

.main div:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 105px;
	content: "";
	border-left: 1px dotted #b6b6b6;
	z-index: 1;
}

.main div:after {
	position: absolute;
	top: 50%;
	content: "";
	left: 98px;
	transform: translateY(-50%);
	width: 13px;
	height: 13px;
	background: #FFFFFF;
	border: 1px solid #b6b6b6;
	z-index: 2;
}

.main span {
	color: #959595;
	font-size: 14px;
}

.main div a {
	margin-left: 50px;
	cursor: pointer;
}
.footer{
	margin-top: 120px;
}
