.banner1 {
	position: relative;
	background: url(../img/banner1.jpg) center top no-repeat;
	min-width: 1200px;
	height: 402px;
}
.w206 {
	width: 206px;
	height: 234px;
	margin-top: 20px;
}

.main-content {
	width: 1200px;
	margin: 0 auto;
	height: 1180px;
}

.feiyi {
	border: 1px solid #f3f3f3;
	background: #ffffff;
	font-size: 14px;
	width: 206px;
	height: 255px;
	float: left;
}

.feiyi span {
	float: left;
	color: #da6a06;
}

.feiyi .bg-red {
	float: left;
	text-align: center;
	padding: 13px 0;
	width: 170px;
	margin-left: 16px;
	border-bottom: 1px solid #f3f3f3;
	font-size: 18px;
	color: #636363;
}

.feiyi a {
	float: left;
	text-align: center;
	padding: 13px 0;
	width: 170px;
	margin-left: 16px;
	border-bottom: 1px solid #f3f3f3;
	font-size: 18px;
	color: #636363;
	padding-right: 19px;
}

.feiyi .bg-red {
	background: #931f08;
	height: 46px;
	width: 204px;
	margin: 0;
	color: #FFFFFF;
}

.center-right {
	width: 971px;
	margin-top: 20px;
}

.center-header {
	height: 48px;
	background: #f3f3f3;
}
.center-header a{
	font-size: 16px;
	color: #921e07;
	line-height: 48px;
}
.center-header .jieshao{
	margin-left: 23px;
}
.center-header .zi{
	color: #da6a06;
}
.main{
	width: 840px;
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
}
.main p:nth-child(1){
	font-size: 24px;
}
.main p:nth-child(2){
	color: #959595;
	font-size: 14px;
	margin-top: 30px;
}
.dashed{
	border-bottom: 1px dashed #e5e5e5;
	margin-top: 40px;
}
.dashed1{
	border-bottom: 1px dashed #e5e5e5;
	margin-top: 10px;
}
.dashed2{
	border-bottom: 1px dashed #e5e5e5;
	margin-top: 60px;
}
.main p:nth-child(4){
	font-size: 14px;
	 text-align:left;
	 line-height: 25px;
	 margin-top: 30px;
}
.main p:nth-child(5){
	font-size: 14px;
	 text-align:left;
	 line-height: 25px;
	 margin-top: 20px;
}
.main .text4{
	text-align: left;
	font-size: 14px;
	margin-top: 20px;
	margin-left: 30px;
}
.main p:nth-child(12){
	margin-top: 70px;
}
.main p:nth-child(13){
	text-align: right;
	font-size: 14px;
	margin-top: 150px;
}
.main p:nth-child(14){
	text-align: right;
	font-size: 14px;
	margin-top: 20px;
}
.main p:nth-child(16){
	text-align: left;
	font-size: 14px;
	margin-top: 20px;
}
.main .share a img{
	margin-top: 30px;
	padding: 0 5px;
	cursor: pointer;
}

.footer{
	margin-top: 120px;
}
