* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
}

a {
	color: #333;
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

.cl:after{
	content:"";
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.header {
	width: 100%;
	min-width: 1200px;
	height: 70px;
	background: #f3f3f3;
	box-shadow: 1px 2px 8px rgba(13, 5, 9, 0.2);
	z-index: 99;
	position: relative;
}

.w1180 {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.top_left a img {
	margin-top: 10px;
	cursor: pointer;
}

.top_right .text {
	float: left;
	line-height: 67px;
	padding: 0 20px;
	font-size: 16px;
	cursor: pointer;
	border-top: 3px solid transparent;
}

.top_right .text:hover {
	color: #ad1c1c;
	border-top: 3px solid #ad1c1c;
}

.aa .ul {
	position: absolute;
	background: #ffffff;
	font-size: 14px;
	top: 70px;
	left: 0;
	right: 0;
	display: none;
	border-top: 1px solid #cdcdcd;
	z-index: 99;
}

.aa .ul a {
	float: left;
	padding: 13px 0;
	border-bottom: 1px solid #cdcdcd;
	width: 100%;
	text-align: center;
}

.aa {
	float: left;
	position: relative;
}

.top_right .aa:hover .ul {
	display: block;
}

.ul a:hover {
	color: #ad1c1c;
}

.banner {
	position: relative;
	background: url(../img/banner.jpg) center top no-repeat;
	height: 1650px;
	min-width:1200px
}

.banner img {
	position: relative;
}

#box2 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: none;
}

#box2 .shadow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: 1;
}
.inner1 {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 63%;
	padding: 20px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	z-index: 2;
}

.inner1 video {
	width: 100%;
}

a.closed {
	position: absolute;
	right: 0;
	top: 0;
	background: #666;
	padding: 6px 10px;
	border-radius: 50%;
	font-family: Arial;
	color: #fff;
	text-decoration: none;
}